.App {
  background-color: #282c34;
  color: antiquewhite;
  height: 100vh;
}

.header{
  font-size: 2rem;
  font-weight: 900;
  height: 8vh;
  border-bottom: 1px solid white;
}

.alignCentre{
  display: flex;
  align-items: center;
  justify-content: center;
}

.board{
  height: 92vh;
  font-size: 2rem;
  font-weight: 900;
  flex-direction: column;
  justify-content: space-evenly;
}

.row{
  display: flex;
  height: 20vh;
}

.cell{
width: 25vw;
border:  1px solid white;
color: black;
font-size: 6rem;
}

.greenyellow{
  background-color: greenyellow;
}

.aqua{
  background-color:aqua;
}

.restart{
height: 6vh;
width: 30vw;
font-size: 2rem;
background-color: violet;
}
