.App {
  background-color: #282c34;
  color: antiquewhite;
  height: 100vh;
}

.header{
  font-size: 2rem;
  font-weight: 800;
  height: 8vh;
  border-bottom: 1px solid white;
}

.alignCentre{
  display: flex;
  align-items: center;
  justify-content: center;
}

.board{
  height: 90vh;
  font-size: 2rem;
  font-weight: 800;
  flex-direction: column;
  justify-content: space-evenly;
}

.row{
  display: flex;
  height: 20vh;
}

.cell{
width: 20vw;
border:  1px solid white;
color: black;
font-size: 5rem;
}

.greenyellow{
  background-color: greenyellow;
}

.royalblue{
  background-color: royalblue;
}

.restart{
height: 7vh;
width: 20vw;
font-size: 2rem;
background-color: aqua;
}
